<script type="text/template" id="contact_template">
  <%%= first_name %>
  <%%= last_name %>
  <button class="delete_contact">Delete</button>
  <button class="update_contact update_contact_toggle">Update</button>
</script>

<script type="text/template" id="phone_template">
  <%%= number %>
  <%%= number_type %>
  <button class="delete_phone">Delete</button>
  <button class="update_phone update_phone_toggle">Update</button>  
</script>

<script type="text/template" id="phone_form_template">
  <div id="contact_<%%= id %>_phones">
    <ul></ul>

    <h2>New Phone</h2>
    <div id="phones_form">
      <h3 id="updating_phone_title" class="update_phone_toggle" style="display: none;"></h3>
      <label>Number:</label>
      <input id="number_input" type="text" />
      <br />
      <label>Type:</label>
      <input id="number_type_input" type="text"></input>
      <input id="phone_id" type="hidden" value=""></input>
      <br />
      <br />
      <button id="create_phone" class="update_phone_toggle">Create</button>
      <button id="update_phone" class="update_phone_toggle" style="display: none;">Update</button>
      <button id="cancel_phone_update" class="update_phone_toggle" style="display: none;">Cancel</button>
    </div>
  </div>
</script>


<h2>Your Phone Book</h2>

<div id="contacts_content">
  <div id="contacts_list">
    <ul id="contacts">
    </ul>
  </div>

  <h2>New Contact</h2>
  <div id="contacts_form">
    <h3 id="updating_contact_title" class="update_contact_toggle" style="display: none;"></h3>
    <label>First Name:</label>
    <input id="first_name_input" type="text" />
    <br />
    <label>Last Name:</label>
    <input id="last_name_input" type="text"></input>

    <input id="contact_id" type="hidden" value=""></input>
    <br />
    <br />
    <button id="create_contact" class="update_contact_toggle">Create</button>
    <button id="update_contact" class="update_contact_toggle" style="display: none;">Update</button>
    <button id="cancel_contact_update" class="update_contact_toggle" style="display: none;">Cancel</button>
  </div>
</div>
