<script type="text/template" id="contact_template">
  <div class="accordion-group">
    <div class="accordion-heading">
      <div>
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_contact_<%%= id %>">
	  <%%= first_name %>
	  <%%= last_name %>
	</a>
      </div>
      <div class="actions">
	<div class="btn-group" >
	  <button class="update_contact update_contact_toggle btn btn-small btn-success">
	    Update
	  </button>
	  <button class="delete_contact btn btn-small btn-danger" type="button">
	    Delete
	  </button>
	</div>
      </div>
    </div>
    <div id="collapse_contact_<%%= id %>" class="accordion-body collapse out">
      <div class="accordion-inner">
	<div id="contact_<%%= id %>_phones">
	  <table class="table table-striped table-bordered">
	    <thead>
	      <tr>
		<th class="phones">Number</th>
		<th class="phones">Type</th>
		<th class="phones">Actions</th>
	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="phone_template">
  <td><%%= number %></td>
  <td><%%= number_type %></td>
  <td class="actions">
    <div class="btn-group">
      <button class="update_phone update_phone_toggle update_contact_toggle btn btn-small btn-success">Update</button>  
      <button class="delete_phone btn btn-small btn-danger">Delete</button>
    </div>
  </td>
</script>

<script type="text/template" id="phone_form_template">
  <h2>New Phone</h2>
    <div id="phones_form">
      <h3 id="updating_phone_title" class="update_phone_toggle" style="display: none;"></h3>
      <label>Number:</label>
      <input id="number_input" type="text" />
      <br />
      <label>Type:</label>
      <input id="number_type_input" type="text"></input>
      <input id="phone_id" type="hidden" value=""></input>
      <br />
      <br />
      <button id="create_phone" class="update_phone_toggle">Create</button>
      <button id="update_phone" class="update_phone_toggle" style="display: none;">Update</button>
      <button id="cancel_phone_update" class="update_phone_toggle" style="display: none;">Cancel</button>
    </div>
  </div>
  <br />
</script>


<h2>Your Phone Book</h2>

<div class="accordion" id="accordion2">
  <div id="content">
    <div id="contacts">
    </div>
    
    <hr />
    <h2>New Contact</h2>
    <div id="contacts_form">
      <h3 id="updating_contact_title" class="update_contact_toggle" style="display: none;"></h3>
  
      <label>First Name:</label>
      <input id="first_name_input" type="text" /><br />

      <label>Last Name:</label>
      <input id="last_name_input" type="text"></input>

      <input id="contact_id" type="hidden" value=""></input><br /><br />

      <button id="create_contact" class="update_contact_toggle btn btn-primary">Create</button>
      <button id="update_contact" class="update_contact_toggle" style="display: none;">Update</button>
      <button id="cancel_contact_update" class="update_contact_toggle" style="display: none;">Cancel</button>
    </div>

  </div>
</div>

